node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
drizzle/meta/0000_snapshot.json
drizzle/meta/_journal.json
drizzle/relations.ts
drizzle/schema.ts
drizzle/meta/0003_snapshot.json
drizzle/0003_groovy_ironclad.sql
